body, html {
    height: 100%;
}

.title-container {
    padding: 10%;
}

@media screen and (max-height: 450px) {
    .title-container {
        padding: 1%;
    }

    .title-container h1 {
        font-size: 5em;
    }
}
